@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?iro9gt');
	src:url('../../fonts/icomoon.eot?#iefixiro9gt') format('embedded-opentype'),
		url('../../fonts/icomoon.ttf?iro9gt') format('truetype'),
		url('../../fonts/icomoon.woff?iro9gt') format('woff'),
		url('../../fonts/icomoon.svg?iro9gt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
	content: "\e600";
}
.icon-airplane:before {
	content: "\e601";
}
.icon-baby-stroller:before {
	content: "\e602";
}
.icon-basket:before {
	content: "\e603";
}
.icon-bicycle:before {
	content: "\e604";
}
.icon-briefcase:before {
	content: "\e605";
}
.icon-building:before {
	content: "\e606";
}
.icon-call:before {
	content: "\e607";
}
.icon-camera:before {
	content: "\e608";
}
.icon-car:before {
	content: "\e609";
}
.icon-chair:before {
	content: "\e60a";
}
.icon-check:before {
	content: "\e60b";
}
.icon-clock:before {
	content: "\e60c";
}
.icon-cycle:before {
	content: "\e60d";
}
.icon-delete:before {
	content: "\e60e";
}
.icon-down:before {
	content: "\e60f";
}
.icon-dribbble:before {
	content: "\e610";
}
.icon-earth:before {
	content: "\e611";
}
.icon-edit:before {
	content: "\e612";
}
.icon-email:before {
	content: "\e613";
}
.icon-facebook:before {
	content: "\e614";
}
.icon-folder:before {
	content: "\e615";
}
.icon-gallery:before {
	content: "\e616";
}
.icon-game-controller:before {
	content: "\e617";
}
.icon-google_plus:before {
	content: "\e618";
}
.icon-graduation-cap:before {
	content: "\e619";
}
.icon-guitar:before {
	content: "\e61a";
}
.icon-headphone:before {
	content: "\e61b";
}
.icon-heart:before {
	content: "\e61c";
}
.icon-home:before {
	content: "\e61d";
}
.icon-house:before {
	content: "\e61e";
}
.icon-image:before {
	content: "\e61f";
}
.icon-jewellery-watches:before {
	content: "\e620";
}
.icon-key:before {
	content: "\e621";
}
.icon-laptop:before {
	content: "\e622";
}
.icon-list:before {
	content: "\e623";
}
.icon-live-heart:before {
	content: "\e624";
}
.icon-location:before {
	content: "\e625";
}
.icon-lock:before {
	content: "\e626";
}
.icon-megaphone:before {
	content: "\e627";
}
.icon-menu:before {
	content: "\e628";
}
.icon-message:before {
	content: "\e629";
}
.icon-monitor:before {
	content: "\e62a";
}
.icon-motorbikes:before {
	content: "\e62b";
}
.icon-mouse:before {
	content: "\e62c";
}
.icon-news:before {
	content: "\e62d";
}
.icon-next:before {
	content: "\e62e";
}
.icon-off:before {
	content: "\e62f";
}
.icon-phone:before {
	content: "\e630";
}
.icon-phone-numbers:before {
	content: "\e631";
}
.icon-plus-cycle:before {
	content: "\e632";
}
.icon-plus-full:before {
	content: "\e633";
}
.icon-point:before {
	content: "\e634";
}
.icon-prev:before {
	content: "\e635";
}
.icon-purse:before {
	content: "\e636";
}
.icon-red-news:before {
	content: "\e637";
}
.icon-remove:before {
	content: "\e638";
}
.icon-renew:before {
	content: "\e639";
}
.icon-scotter:before {
	content: "\e63a";
}
.icon-search:before {
	content: "\e63b";
}
.icon-share:before {
	content: "\e63c";
}
.icon-shield:before {
	content: "\e63d";
}
.icon-shoe:before {
	content: "\e63e";
}
.icon-star:before {
	content: "\e63f";
}
.icon-store:before {
	content: "\e640";
}
.icon-thumb:before {
	content: "\e641";
}
.icon-tshirt:before {
	content: "\e642";
}
.icon-up:before {
	content: "\e643";
}
.icon-user:before {
	content: "\e644";
}
.icon-warning:before {
	content: "\e645";
}
.icon-zoom:before {
	content: "\e646";
}
